@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div x-data="game"
     @@keyup.window="onKeyPress($event.key)">
    <template x-for="row in board">
        <div class="row">
            <template x-for="tile in row">
                <div class="tile" x-text="tile.letter"></div>
            </template>
        </div>
    </template>
</div>

<script>
    class Tile{
        letter ='';
        status ='';//correct, present, absent
    };
    document.addEventListener('alpine:init', () => {
        Alpine.data('game', () => {
            return {
                board:{},
                theWord: 'dog',
                
                wordLength: 3,// TODO calc based on theWord

                guessesAllowed: 3,
                currentRowIndex: 0,
                
                get currentGuess(){
                    return this.currentRow.map(tile=>tile.letter).join('');//just like split().join() to concat array into a string...
                },

                init(){
                    this.board= Array.from({length: this.guessesAllowed }, () =>{
                        return  Array.from({length: this.wordLength }, () => new Tile);
                    });
                },
                fillTile(key){
                    for(let tile of this.currentRow){
                        if(tile.letter==''){
                            tile.letter=key;break;
                        }
                    }


                    //this.currentRow().forEach(tile =>{
                    //    tile.letter=key;
                    //});
                       // this.board[this.currentRowIndex][this.currentTileIndex]=key;

                        if(this.currentTileIndex==this.wordLength-1){
                            this.currentRowIndex++;
                     
                        } else {
                            this.currentTileIndex++;
                        };
                    },
                onKeyPress(key){
                    if(/^[A-z]$/.test(key)){
                        this.fillTile(key);
                    } else if (key=='Enter'){alert(this.currentGuess);
                        this.submitGuess();
                    }
                    ;
                },
                get currentRow(){
                    return this.board[this.currentRowIndex];// this one is BS IMO... unless it is a getter ?
                },
                submitGuess(){
                    if(this.currentGuess<this.wordLength){
                        return; //reject early 
                    }
                    if(this.currentGuess==this.theWord){
                        alert('you fool! you win');
                    }
                }
            }
        }
        );
    });
</script>